<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClinicPatientDataLabel" jhiTranslate="clinicLenusApp.clinicPatientData.home.createOrEditLabel">Create or edit a Clinic Patient Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clinicPatientData.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clinicPatientData.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicLenusApp.clinicPatientData.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="clinicPatientData.date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicLenusApp.clinicPatientData.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="clinicPatientData.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicLenusApp.clinicPatientData.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                [(ngModel)]="clinicPatientData.gender"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicLenusApp.clinicPatientData.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                [(ngModel)]="clinicPatientData.age"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicLenusApp.clinicPatientData.phoneNo" for="field_phoneNo">Phone No</label>
            <input type="number" class="form-control" name="phoneNo" id="field_phoneNo"
                [(ngModel)]="clinicPatientData.phoneNo"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="clinicLenusApp.clinicPatientData.clinic" for="field_clinic">Clinic</label>
            <select class="form-control" id="field_clinic" name="clinic" [(ngModel)]="clinicPatientData.clinic" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clinicOption.id === clinicPatientData.clinic?.id ? clinicPatientData.clinic : clinicOption" *ngFor="let clinicOption of clinics; trackBy: trackClinicById">{{clinicOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="clinicLenusApp.clinicPatientData.clinicPrivateData" for="field_clinicPrivateData">Clinic Private Data</label>
            <select class="form-control" id="field_clinicPrivateData" name="clinicPrivateData" [(ngModel)]="clinicPatientData.clinicPrivateData">
                <option [ngValue]="null"></option>
                <option [ngValue]="clinicPatientPrivateDataOption.id === clinicPatientData.clinicPrivateData?.id ? clinicPatientData.clinicPrivateData : clinicPatientPrivateDataOption" *ngFor="let clinicPatientPrivateDataOption of clinicprivatedata; trackBy: trackClinicPatientPrivateDataById">{{clinicPatientPrivateDataOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
