<div>
    <h2>
        <span jhiTranslate="clinicLenusApp.clinicPatientData.home.title">Clinic Patient Data</span>
        <button class="btn btn-primary float-right create-clinic-patient-data" [routerLink]="['/', { outlets: { popup: ['clinic-patient-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clinicLenusApp.clinicPatientData.home.createLabel">
            Create new Clinic Patient Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clinicPatientData">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clinicLenusApp.clinicPatientData.date">Date</span></th>
            <th><span jhiTranslate="clinicLenusApp.clinicPatientData.name">Name</span></th>
            <th><span jhiTranslate="clinicLenusApp.clinicPatientData.gender">Gender</span></th>
            <th><span jhiTranslate="clinicLenusApp.clinicPatientData.age">Age</span></th>
            <th><span jhiTranslate="clinicLenusApp.clinicPatientData.phoneNo">Phone No</span></th>
            <th><span jhiTranslate="clinicLenusApp.clinicPatientData.clinic">Clinic</span></th>
            <th><span jhiTranslate="clinicLenusApp.clinicPatientData.clinicPrivateData">Clinic Private Data</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clinicPatientData of clinicPatientData ;trackBy: trackId">
                <td><a [routerLink]="['../clinic-patient-data', clinicPatientData.id ]">{{clinicPatientData.id}}</a></td>
                <td>{{clinicPatientData.date | date:'mediumDate'}}</td>
                <td>{{clinicPatientData.name}}</td>
                <td>{{clinicPatientData.gender}}</td>
                <td>{{clinicPatientData.age}}</td>
                <td>{{clinicPatientData.phoneNo}}</td>
                <td>
                    <div *ngIf="clinicPatientData.clinic">
                        <a [routerLink]="['../clinic', clinicPatientData.clinic?.id ]" >{{clinicPatientData.clinic?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="clinicPatientData.clinicPrivateData">
                        <a [routerLink]="['../clinic-patient-private-data', clinicPatientData.clinicPrivateData?.id ]" >{{clinicPatientData.clinicPrivateData?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../clinic-patient-data', clinicPatientData.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clinic-patient-data/'+ clinicPatientData.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clinic-patient-data/'+ clinicPatientData.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
